[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.omp.tinybrowser
Exec=/usr/bin/ru.omp.tinybrowser
Name=tinybrowser
Name[ru]=tinybrowser

[X-Sailjail]
Permissions=WebView;Audio;Location;Internet;UserDirs;RemovableMedia;MediaIndexing
OrganizationName=ru.omp
ApplicationName=tinybrowser
