[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.omp.TinyBrowser
Exec=/usr/bin/ru.omp.TinyBrowser
Name=TinyBrowser
Name[ru]=TinyBrowser

[X-Sailjail]
Permissions=WebView;Audio;Location;Internet;UserDirs;RemovableMedia;MediaIndexing
OrganizationName=ru.omp
ApplicationName=TinyBrowser
